body {
  font-family: Arial,sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*** Container ****/
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

/***   Header ****/
header {
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header .current {
  color: green;
}

header #myheader{
  float: left;
}

header #myheader h1 {
  margin: 0;
}

header nav{
  flaot: right;
  margin-top: 10px;
}

header a:hover {
  color: red;
  font-weight: bold;
}

/****** Search section *******/
@media(max-width: 768px) {
  .search-section-wrap,
/*  #container*/ {
    padding: 0;
  }
}

@media(max-width: 768px) {
  .search-section-wrap {
    width: 100%;
    height: 320px;
    border-bottom: 1px solid #fff;
  }
}

/****** Search *****/
.search-section-wrap .search {
  margin: 0 auto;
  position: relative;
}

/**** feat-image ****/
@media(max-width: 768px) {
  .search-section-wrap .search .feat-image {
    float: left;
    position: relative;
    z-index: 100;
    width: 638px;
    height: 319px;
    display: block;
  }
}

/***** search-box *****/
  .search-section-wrap .search .search-box {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    float: right;
    position: relative;
    padding: 30px;
    width: 321px;
    height: 319px;
    display: block;
  }
