/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Breakpoints
// ========================================================================== */
/* 320px */
/* 480px */
/* 599px */
/* 600px */
/* 768px */
/* 960px */
/* Convert px to ems
// ========================================================================== */
/* Mixin: respond-min
 * Adds a min-width Media Query or unwraps the content in IE
 *
 * @param $width - the width to set it at
 */
/* Mixin: respond-max
 * Adds a max-width Media Query
 *
 * @param $width - the width to set it at
 */
/* Mixin: old-ie
 * Allows older IE versions to be targeted
 */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #333333;
  font: normal 15px/20px Arial, sans-serif;
}
.textBold {
   font: bold 15px/20px Arial, sans-serif;
}

.textBold18 {
   font: bold 18px Arial, sans-serif;
}

.textItalics {
   font: italic 15px/20px Arial, sans-serif;
}

.textItalics13 {
   font: italic 13px/18px Arial, sans-serif;
}

.whyJoin-popup {
   display:none;
   position: absolute;
   top: -223px;
   left: -77px;
   background: #76bd1d;
   padding: 4px;
   border: 0px;
   width: 300px;
   height: 210px;
   text-align: left;
}

a:hover + .whyJoin-popup {
   display:block;
}

.faq {
    width:100%;
    border:0px solid #000000;
}
.faq div {
    width:100%;
}
.faq .faqheader {
    background-color:#efefef;
    padding: 5px;
    cursor: pointer;
    font: bold 11px/16px Arial, sans-serif;
}
.faq .faqcontent {
    display: none;
    padding : 8px;
}

.search-section-wrap, #container, header #slide {
  margin: 0;
  padding: 0 5%;
  background-color: #fff;
  width: 100%;
}

header {
  margin-bottom: 20px;
  position: relative;
  z-index: 150;
}
@media (max-width: 47.9375em) {
  header {
    overflow: hidden;
  }
}
header .logo {
  width: 244px;
  margin-left: -20px;
  padding: 50px 0 40px;
  display: block;
}
@media (max-width: 47.9375em) {
  header .logo {
    padding: 15px 0 0;
    max-width: 244px;
    width: 75%;
    margin: 0;
  }
}
header .logo img {
  width: 100%;
  height: auto;
}
header nav {
  display: none;
  width: 100%;
  padding: 10px 5%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00467f;
  z-index: 1;
}
header nav li, header nav .main-site {
  display: block;
  padding: 0;
  border-bottom: 1px dotted #fff;
}
header nav li a, header nav li a:link, header nav li a:visited, header nav .main-site a, header nav .main-site a:link, header nav .main-site a:visited {
  padding: 10px 0;
  color: #fff;
  display: block;
  -webkit-font-smoothing: antialiased;
  font: normal 22px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
}
header nav li a:hover, header nav li a.current, header nav li a:link:hover, header nav li a:link.current, header nav li a:visited:hover, header nav li a:visited.current, header nav .main-site a:hover, header nav .main-site a.current, header nav .main-site a:link:hover, header nav .main-site a:link.current, header nav .main-site a:visited:hover, header nav .main-site a:visited.current {
  color: #76bd1d;
}
header nav li a:hover, header nav li a:link:hover, header nav li a:visited:hover, header nav .main-site a:hover, header nav .main-site a:link:hover, header nav .main-site a:visited:hover {
  background: url(../img/green-dot.png) no-repeat top center;
}
header nav .main-site {
  border: none;
}
header nav .main-site a, header nav .main-site a:link, header nav .main-site a:visited {
  position: relative;
  top: auto;
  right: auto;
  display: block;
  -webkit-font-smoothing: antialiased;
  font: normal 22px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 0;
  color: #fff;
}
header nav .main-site a:hover, header nav .main-site a:link:hover, header nav .main-site a:visited:hover {
  text-decoration: none;
  background: none;
}
header nav.show-nav {
  display: block;
}
header #slide {
  background-color: #fff;
  z-index: 100;
  position: relative;
}
header #slide #menu {
  float: right;
  width: 20%;
}
header #slide #menu a, header #slide #menu a:link, header #slide #menu a:visited {
  display: block;
  padding: 10px 0 5px;
  background-color: #00467f;
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

section h1, .search h2, blockquote h2, aside h1, .connect h2 {
  color: #fff;
  font: normal 30px "EngschriftDIN1422W01-D", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding-bottom: 15px;
}

@media only screen and (max-width: 37.4375em) {
  .search h2 {
    padding-bottom: 0;
  }
}

.dot {
  display: block;
  width: 34px;
  height: 34px;
  position: absolute;
}

#container {
  margin-top: 20px;
}

main {
  display: block;
  clear: left;
}
main:after {
  content: "";
  display: table;
  clear: both;
}

.search-section-wrap .search {
  margin: 0 auto;
  position: relative;
}
.search-section-wrap .search:after {
  content: "";
  display: table;
  clear: both;
}
#employees-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 230px;
  left: -10px;
}
#employees-faqs-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-faqs.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employees-faqs-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 235px;
  left: -22px;
}
#employees-professionalServices-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-professionalServices.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employees-professionalServices-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  left: -22px;
}
#employees-transportation-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-transportation.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employees-transportation-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 200px;
  left: -22px;
}
#employers-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-employers.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employers-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 45px;
  left: 20px;
}
#employers-transportation-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-transportation2.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employers-transportation-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 120px;
  left: -5px;
}
#employers-professionalServices-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-professionalServices2.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employers-professionalServices-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 35px;
  left: 20px;
}
#employers-outputSolutions-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-outputSolutions.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employers-outputSolutions-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 55px;
  left: 30px;
}
#employers-staffingSolutions-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-employers.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#employers-staffingSolutions-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 35px;
  left: 30px;
}
#ourstory-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-ourStory.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#ourstory-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 35px;
  left: 30px;
}
#news-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-news.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#news-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 240px;
  left: 40px;
}
#locations-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-locations.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#locations-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  top: 240px;
  left: 40px;
}
#eoe-pg .search-section-wrap .search .feat-img {
  float: left;
  background: url(../img/img-eoe.png) no-repeat top right;
  position: relative;
  z-index: 100;
  height: 319px;
  width: 638px;
  display: block;
}
#eoe-pg .search-section-wrap .search .feat-img h1 {
  text-align: right;
  color: #00467f;
  font: normal 36px/32px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  position: absolute;
  bottom: 35px;
  left: 30px;
}
.search-section-wrap .search .search-box {
  background: #093c71;
  padding: 15px;
}
.search-section-wrap .search .search-box .dot {
  background: url(../img/pink-dot.png) no-repeat;
  top: -17px;
  left: -17px;
  z-index: 999;
}
.search-section-wrap .search .search-box label {
  font: normal 18px/20px "EngschriftDIN1422W01-D", Arial, sans-serif;
  color: #00aeef;
  display: block;
  -webkit-font-smoothing: antialiased;
}
.search-section-wrap .search .search-box input {
  display: block;
  background: #fff;
  border: none;
  font-size: 15px;
  height: 33px;
  margin-bottom: 10px;
  padding: 8px 8px;
  font: 15px Arial, sans-serif;
}
.search-section-wrap .search .search-box select {
  font: normal 20px "EngschriftDIN1422W01-D", Arial, sans-serif;
  border: 2px solid #f7f7f7;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  margin-bottom: 5px;
  border: 1px solid #c1cedb;
  height: 33px;
  width: 100%;
  color: #666;
  background: -moz-linear-gradient(top, white 42%, #67cff5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, white), color-stop(100%, #67cff5));
  background: -webkit-linear-gradient(top, white 52%, #67cff5 100%);
  background: -o-linear-gradient(top, white 2%, #67cff5 100%);
  background: -ms-linear-gradient(top, white 42%, #67cff5 100%);
  background: linear-gradient(to bottom, white 42%, #67cff5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#67cff5',GradientType=0 );
}
.search-section-wrap .search .search-box option {
  font: normal 20px "EngschriftDIN1422W01-D", Arial, sans-serif;
  border: 2px solid #f7f7f7;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  margin-bottom: 5px;
  margin-bottom: 5px;
  border: 1px solid #c1cedb;
  height: 33px;
  width: 100%;
  color: #666;
  background: -moz-linear-gradient(top, white 42%, #67cff5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(42%, white), color-stop(100%, #67cff5));
  background: -webkit-linear-gradient(top, white 52%, #67cff5 100%);
  background: -o-linear-gradient(top, white 2%, #67cff5 100%);
  background: -ms-linear-gradient(top, white 42%, #67cff5 100%);
  background: linear-gradient(to bottom, white 42%, #67cff5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#67cff5',GradientType=0 );
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

.search-section-wrap .search .search-box select, .search-section-wrap .search .search-box .selectboxit-container, .search-section-wrap .search .search-box .selectboxit, .search-section-wrap .search .search-box .selectboxit-options {
  width: 100% !important;
}
.search-section-wrap .search .search-box .btn-search {
  background: #8fc4ea;
  border: none;
  padding: 10px 20px;
  color: #fff;
  float: right;
  font: normal 20px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  height: auto;
  width: auto;
  margin: 10px 0 0;
  cursor: pointer;
}
.search-section-wrap .search .search-box .btn-search:hover {
  background-color: #76bd1d;
}

.cols-3 {
  width: 100%;
  border: 1px solid #fff;
  border-right: none;
  border-top: none;
}
.cols-3:after {
  content: "";
  display: table;
  clear: both;
}
.cols-3 p, .cols-3 ol, .cols-3 ul {
  margin-bottom: 15px;
}
.cols-3 strong {
  font-weight: bold;
}
.cols-3 .col {
  float: left;
  width: 33.33333%;
  border-right: 1px solid #fff;
  padding: 20px;
  height: 319px;
  position: relative;
}
.cols-3 .col.employee-portal {
  color: #fff;
  background: #093c71;
}
.cols-3 .col.employee-portal p.more a, .cols-3 .col.employee-portal p.more a:link, .cols-3 .col.employee-portal p.more a:visited {
  color: #00aeef;
}
.cols-3 .col.apply-now {
  background: #00aeef;
}
.cols-3 .col.apply-now p.more a, .cols-3 .col.apply-now p.more a:link, .cols-3 .col.apply-now p.more a:visited {
  color: #00467f;
}
.cols-3 .col ul li a, .cols-3 .col ul li a:link, .cols-3 .col ul li a:visited {
  color: #00aeef;
  font-size: 14px;
  text-decoration: none;
  font-family: Arial, sans-serif;
}
.cols-3 .col ul li a:hover, .cols-3 .col ul li a:link:hover, .cols-3 .col ul li a:visited:hover {
  text-decoration: none;
  background: none;
}
.cols-3 .col a:hover {
  text-decoration: none;
}


.join-tn-sidebar {
  background: #76bd1d url(../img/bg-green-shadow.png) no-repeat top left;
  position: relative;
  height: 320px;
}
.join-tn-sidebar .cta-join {
  text-align: right;
  position: absolute;
  bottom: 30px;
  right: 20px;
}
.join-tn-sidebar .cta-join a, .join-tn-sidebar .cta-join a:link, .join-tn-sidebar .cta-join a:visited {
  font: 13px Arial, sans-serif;
  color: #00467f;
}
.join-tn-sidebar .cta-join span.btn-join {
  display: block;
  margin-bottom: 10px;
}
.join-tn-sidebar .cta-join span.btn-join a, .join-tn-sidebar .cta-join span.btn-join a:link, .join-tn-sidebar .cta-join span.btn-join a:visited {
  background: #00aeef;
  padding: 10px 20px;
  color: #fff;
  font: normal 20px "EngschriftDIN1422W01-D", Arial, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
}
.join-tn-sidebar .cta-join span.btn-join a:hover, .join-tn-sidebar .cta-join span.btn-join a:link:hover, .join-tn-sidebar .cta-join span.btn-join a:visited:hover {
  background: #ec008c;
}


.transportation-sidebar {
  position: relative;
  height: 175px;
  background: #76bd1d url(../img/img-green.jpg) no-repeat bottom right;
  color: #ffffff;
}
.transportation-sidebar a, .transportation-sidebar a:link, .transportation-sidebar a.hover, .transportation-sidebar a.visited {
  font: 14px Arial, sans-serif;
  color: #ffffff;
}
.transportation-sidebar h1 {
  color: #093c71;
}
.professionalServices-sidebar {
  position: relative;
  height: 175px;
  background: #00aeef url(../img/img-light-blue2.jpg) no-repeat bottom right;
  color: #ffffff;
}
.professionalServices-sidebar a, .professionalServices-sidebar a:link, .professionalServices-sidebar a.hover, .professionalServices-sidebar a.visited {
  font: 14px Arial, sans-serif;
  color: #ffffff;
}
.professionalServices-sidebar h1 {
  color: #093c71;
}
.outputSolutions-sidebar {
  position: relative;
  height: 175px;
  background:  #093c71 url(../img/img-blue2.jpg) no-repeat bottom right;
  color: #ffffff;
}
.outputSolutions-sidebar a, .outputSolutions-sidebar a:link, .outputSolutions-sidebar a.hover, .outputSolutions-sidebar a.visited {
  color: #fff;
  font: 14px Arial, sans-serif;
}
.outputSolutions-sidebar h1 {
  color: #76bd1d;
}
.additional-sidebar h1 {
  color: #093c71;
}
.additional-sidebar a, .additional-sidebar a:link, .additional-sidebar a.hover, .additional-sidebar a.visited {
  color: #00467f;
}

.cols-2 {
  width: 100%;
}
.cols-2:after {
  content: "";
  display: table;
  clear: both;
}
#employees-pg .cols-2 {
  padding-top: 20px;
}
.cols-2 h1 {
  padding-bottom: 10px;
}
.cols-2 p, .cols-2 ol, .cols-2 ul {
  margin-bottom: 15px;
}
.cols-2 a:hover {
  text-decoration: none;
}
.cols-2 .col-1 {
  float: left;
  width: 66.666666%;
}
.cols-2 .col-1 > div {
  padding: 20px 20px;
  width: 100%;
}
#employees-pg .cols-2 .col-1 > div {
  padding: 0 20px 30px;
}
.cols-2 .col-1 h1 {
  color: #76bd1d;
}
.cols-2 aside {
  float: left;
  width: 33.333333%;
}
/*
#employees-pg .cols-2 aside {
  padding: 0 20px;
}
*/

#employers-pg .cols-2 aside {
  padding: 0;
}
#employers-transportation-pg .cols-2 aside {
  padding: 0;
}
#employers-professionalServices-pg .cols-2 aside {
  padding: 0;
}
#employers-outputSolutions-pg .cols-2 aside {
  padding: 0;
}
#employers-staffingSolutions-pg .cols-2 aside {
  padding: 0;
}

.cols-2 aside {
  padding: 20px 20px;
}

.cols-2 aside .join-tn-sidebar {
  padding-top: 20px;
}
.cols-2 aside > div {
  padding: 0;
}
#employers-pg .cols-2 aside > div {
  padding: 10px;
}
#employers-transportation-pg .cols-2 aside > div {
  padding: 10px;
}
#employers-professionalServices-pg .cols-2 aside > div {
  padding: 10px;
}
#employers-outputSolutions-pg .cols-2 aside > div {
  padding: 10px;
}
#employers-staffingSolutions-pg .cols-2 aside > div {
  padding: 10px;
}
.cols-2 aside ul li {
  list-style: none;
  margin-bottom: 10px;
}
.cols-2 aside ul.disc li {
  list-style: disc;
  margin-left: 20px;
}

blockquote {
  padding: 10px 10px;
  width: 100%;
}
@media (min-width: 37.5em) and (max-width: 47.9375em) {
  blockquote {
    float: left;
    width: 55%;
  }
}
blockquote.with-table {
  background: #f6ece2;
  padding: 20px 0;
  -webkit-font-smoothing: antialiased;
}
blockquote.with-table table tr:nth-child(odd) {
  background: #f0decc;
}
blockquote.with-table h2 {
  padding: 0 20px 10px;
}
blockquote.news-table {
  background: #ffffff;
  padding: 10px 0;
  -webkit-font-smoothing: antialiased;
}
blockquote.news-table table tr:nth-child(odd) {
  background: #dfdfdf;
}
blockquote h2 {
  color: #00467f;
}
blockquote a, blockquote a:link, blockquote a:visited {
  color: #00467f;
  text-decoration: underline;
}
blockquote a:hover {
  text-decoration: none;
}
blockquote table th {
  color: #76bd1d;
  font-weight: bold;
  padding: 10px 20px;
}
blockquote table td {
  padding: 10px 20px;
}

footer {
  background: #00467f;
}
footer .main {
  -webkit-font-smoothing: antialiased;
}
footer .main ol {
  display: inline-block;
  text-align: center;
}
footer .main ol li {
  display: inline-block;
  border-left: 1px solid #fff;
  padding: 0 5px 0 8px;
  margin: 0;
  line-height: 11px;
}
footer .main ol li.no-border {
  border: none;
}
footer .main ol li:first-child {
  border-left: none;
}
footer .main ol li a, footer .main ol li a:link, footer .main ol li a:visited {
  color: #fff;
  font-size: 11px;
  line-height: 11px;
  text-decoration: none;
}
footer .main ol li a:hover {
  color: #76bd1d;
  text-decoration: none;
}
footer .main .legal {
  text-align: center;
  width: 90%;
  margin: 5px auto 0;
  padding-top: 6px;
  border-top: 1px solid #266292;
  font-size: 11px;
  color: #fff;
  line-height: 14px;
}
footer .main .legal a, footer .main .legal a:link, footer .main .legal a:visited {
  color: #fff;
  text-decoration: underline;
}
footer .main .legal a:hover {
  color: #76bd1d;
  text-decoration: none;
}
footer .connect {
  margin: 0 auto;
  width: 170px;
  padding: 8px 8px;
}
footer .awards {
  margin: 0 auto;
  width: 170px;
  padding: 16px 0px;
}
footer .connect {
  text-align: center;
}
footer .connect ol {
  text-align: center;
}
footer .connect ol li {
  display: inline-block;
}
footer .connect ol li a {
  text-indent: -3333px;
  display: block;
  width: 36px;
  height: 36px;
  background: url(../img/icons-social.png) no-repeat 0 0;
}
footer .connect ol li.twitter a {
  background-position: -50px 0px;
}
footer .connect ol li.linkedin a {
  background-position: -104px 0px;
}
footer .connect ol li.instagram a {
  background-position: -25px -35px;
}
footer .connect ol li.talentNetwork a {
  background-position: -80px -35px;
}
footer .connect h2 {
  font-size: 20px;
  margin-bottom: 10px;
  padding-bottom: 0;
}
footer .awards a {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 166px;
  height: 74px;
}

/*
 * jquery.selectBoxIt.css 3.8.0
 * Author: @gregfranko
 */
/*
  Common CSS Properties
  ---------------------
  These properties will be applied to any themes that you use
*/
/* SelectBoxIt container */
.selectboxit-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

/* Styles that apply to all SelectBoxIt elements */
.selectboxit-container * {
  /* Prevents text selection */
  color: #6f6f6f;
  font-size: 20px;
  font-family: "EngschriftDIN1422W01-D", Arial, sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* Button */
.selectboxit-container .selectboxit {
  width: 220px;
  /* Width of the dropdown button */
  cursor: pointer;
  margin: 0 0 10px;
  padding: 0;
  overflow: hidden;
  display: block;
  position: relative;
}

/* Height and Vertical Alignment of Text */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 30px;
  /* Height of the drop down */
  line-height: 30px;
  /* Vertically positions the drop down text */
  display: block;
}

/* Focus pseudo selector */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* Disabled Mouse Interaction */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* Button Text */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
}

/* Options List */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  /* Minimum Width of the dropdown list box options */
  *width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  border-radius: 6px;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* Individual options */
.selectboxit-option .selectboxit-option-anchor {
  padding: 0 2px;
}

/* Individual Option Hover Action */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* Individual Option Optgroup Header */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px;
  /* Horizontal Positioning of the select box option text */
  margin: 0;
  list-style-type: none;
}

/* The first Drop Down option */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* The first Drop Down option optgroup */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* The last Drop Down option */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* Drop Down optgroup headers */
.selectboxit-optgroup-header {
  font-weight: bold;
}

/* Drop Down optgroup header hover psuedo class */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* Drop Down down arrow container */
.selectboxit-arrow-container {
  /* Positions the down arrow */
  width: 30px;
  position: absolute;
  right: 0;
}

/* Drop Down down arrow */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  /* Horizontally centers the down arrow */
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* Drop Down down arrow for jQueryUI and jQuery Mobile */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-container {
  float: left;
}

.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* Drop Down individual option icon positioning */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

.selectboxit-rendering {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* Another jQueryUI and jQuery Mobile compatability fix - Feel free to remove this style if you are not using jQuery Mobile */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/*
  Default Theme
  -------------
  Note: Feel free to remove all of the CSS underneath this line if you are not using the default theme
*/
.selectboxit-btn {
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, white, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, white, #e6e6e6);
  background-image: -o-linear-gradient(top, white, #e6e6e6);
  background-image: linear-gradient(to bottom, white, #e6e6e6);
  background-repeat: repeat-x;
  border: 1px solid #cccccc;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-bottom-color: #b3b3b3;
}

/*/.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
  color: #333333;
  background-color: #e6e6e6;
}

.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
}
*/
.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 10px solid #00aeef;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.selectboxit-list {
  background-color: #ffffff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.selectboxit-list .selectboxit-option-anchor {
  color: #333333;
}

.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  color: #ffffff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999999;
}

@media (max-width: 37.4375em) {
  footer {
    display: none;
  }
}
@media only screen and (min-width: 37.5em) {
  .search-section-wrap, #container, header #slide {
    padding: 0 20px;
  }

  .cols-3 .col {
    float: left;
    width: 33.33333%;
    border-right: 1px solid #fff;
    border-top: 0;
    height: 450px;
    position: relative;
  }
  .cols-3 .col.employee-portal {
    background: #093c71 url(../img/img-blue.jpg) no-repeat bottom right;
  }
  .cols-3 .col.apply-now {
    background: #00aeef url(../img/img-light-blue.jpg) no-repeat bottom right;
  }

  #employees-pg .join-tn-sidebar .cta-join {
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 20px;
  }

  .search-section-wrap .search .search-box label {
    float: left;
    font: normal 20px/33px "EngschriftDIN1422W01-D", Arial, sans-serif;
    width: 15%;
  }

  .search-section-wrap .search .search-box input {
    float: left;
    width: 85%;
  }

}

@media (min-width: 37.5em) and (max-width: 47.9375em) {

}

@media only screen and (min-width: 48em) {

  .nav-locations, .nav-staffmark {
    display: none;
  }

  #container {
    margin-top: 0;
  }

  header {
    margin-bottom: 0;
  }

  header nav {
    display: block;
    width: auto;
    position: relative;
    z-index: 150;
    top: auto;
    left: auto;
    background-color: #fff;
    padding: 0;
    background-color: #fff;
  }
  header nav li, header nav .main-site {
    padding-left: 30px;
    margin: 0;
    display: inline-block;
    border: none;
  }
  header nav li a, header nav li a:link, header nav li a:visited, header nav .main-site a, header nav .main-site a:link, header nav .main-site a:visited {
    color: #00467f;
    padding: 40px 0 0;
    /*	&:hover, &.current {
    		background: url(../img/green-dot.png) no-repeat top center;
    	} */
  }
  header nav .main-site a, header nav .main-site a:link, header nav .main-site a:visited {
    color: #00aeef;
    font-size: 14px;
    text-decoration: none;
    position: absolute;
    right: 0;
    top: -20px;
    text-transform: none;
    font-family: Arial, sans-serif;
  }

  #slide {
    width: 244px;
    padding: 0;
  }
  #slide #menu {
    display: none;
  }

  .search-section-wrap {
    width: 100%;
    background: url(../img/bg-header.jpg) no-repeat top center;
    height: 320px;
    border-bottom: 1px solid #fff;
    padding: 0;
  }
  .search-section-wrap .search {
    height: 320px;
  }
  #employees-pg .search-section-wrap .search .feat-img {
    float: left;
    background: url(../img/img-faqs.png) no-repeat top right;
    position: relative;
    z-index: 100;
    height: 319px;
    width: 638px;
    display: block;
  }
  #employees-faqs-pg .search-section-wrap .search .feat-img {
    float: left;
    background: url(../img/img-faqs.png) no-repeat top right;
    position: relative;
    z-index: 100;
    height: 319px;
    width: 638px;
    display: block;
  }
  #employers-pg .search-section-wrap .search .feat-img {
    float: left;
    background: url(../img/img-employers.png) no-repeat top right;
    position: relative;
    z-index: 100;
    height: 319px;
    width: 638px;
    display: block;
  }
  #employers-transportation-pg .search-section-wrap .search .feat-img {
    float: left;
    background: url(../img/img-transportation2.png) no-repeat top right;
    position: relative;
    z-index: 10;
    height: 319px;
    width: 638px;
    display: block;
  }
  #employers-professionalServices-pg .search-section-wrap .search .feat-img {
    float: left;
    background: url(../img/img-professionalServices2.png) no-repeat top right;
    position: relative;
    z-index: 10;
    height: 319px;
    width: 638px;
    display: block;
  }
  #employers-outputSolutions-pg .search-section-wrap .search .feat-img {
    float: left;
    background: url(../img/img-outputSolutions.png) no-repeat top right;
    position: relative;
    z-index: 10;
    height: 319px;
    width: 638px;
    display: block;
  }


  .search-section-wrap .search .circle-left {
    background: url(../img/bg-circle-top-left.png) no-repeat;
    width: 275px;
    height: 275px;
    position: absolute;
    z-index: 1;
    bottom: -140px;
    left: -132px;
  }
  .search-section-wrap .search .search-box {
    background: #093c71 url(../img/bg-search.png) no-repeat top right;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
    float: right;
    width: 321px;
    height: 319px;
    position: relative;
    padding: 30px;
  }
  .search-section-wrap .search .search-box label {
    width: 30%;
  }
  .search-section-wrap .search .search-box input {
    width: 99%;
  }
  .search-section-wrap .search .search-box select, .search-section-wrap .search .search-box .selectboxit-container, .search-section-wrap .search .search-box .selectboxit, .search-section-wrap .search .search-box .selectboxit-options {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .search-section-wrap .search .search-box .btn-search {
    float: right;
    margin: 0;
  }
  .search-section-wrap .search .join-search-wrap {
    display: block;
    float: right;
    height: 319px;
    padding: 30px;
    width: 321px;
  }

  #search-results .search-section-wrap {
    margin-bottom: 38px;
  }

  .cols-3 .col {
    height: 350px;
  }

  .join-tn-sidebar .cta-join {
    right: 30px;
  }

  #employees-pg .cols-2 {
    padding-top: 20px;
  }
  .cols-2 .col-1 {
    float: left;
    width: 66.666666%;
  }
  .cols-2 .col-1 > div {
    padding: 20px 20px;
    width: 100%;
  }
  #employees-pg .cols-2 .col-1 > div {
    padding: 0 20px 20px;
  }
  .cols-2 aside {
    float: right;
    width: 33.333333%;
  }
  #employees-pg .cols-2 aside, #search-results .cols-2 aside {
    margin-top: 0;
    padding: 0 30px;
  }

  blockquote {
    padding: 40px 30px;
  }

  .refine-your-search {
    margin: 0 20px;
  }
  .refine-your-search li {
    float: left;
    width: 48%;
  }
  .refine-your-search li:first-child {
    margin-right: 4%;
  }
  .refine-your-search li.job-type {
    width: 275px;
  }
  .refine-your-search li.job-category {
    margin-left: 20px;
    width: 275px;
  }
  .refine-your-search .job-type .selectboxit-container .selectboxit {
    width: 275px !important;
  }
  .refine-your-search .job-category .selectboxit-container .selectboxit {
    width: 275px !important;
  }
  .refine-your-search .btn-search {
    float: right;
  }

  .search-results {
    margin: 0 20px;
  }
  .search-results header {
    height: 30px;
    margin-bottom: 42px;
  }
  .search-results header h2 {
    float: left;
  }
  .search-results header h3 {
    float: left;
    margin-bottom: 0;
    margin-left: 6px;
  }
  .search-results .orderby {
    float: right;
  }

  #search-results .cta-join {
    text-align: right;
    position: absolute;
    bottom: 30px;
    right: 20px;
  }
}
@media (min-width: 48em) and (max-width: 59.9375em) {

 .search-section-wrap .search .search-box .dot {
    display: none;
  }

  header {
    padding-bottom: 80px;
  }
  header nav {
    bottom: 0;
    right: 20px;
    position: absolute;
  }
  header nav .main-site a, header nav .main-site a:link, header nav .main-site a:visited {
    top: -103px;
    right: 0;
  }
  header .logo {
    margin-left: 0;
    padding: 20px 0 0;
  }

  .search-section-wrap {
    position: relative;
  }
  .search-section-wrap .search .search-box,
  .search-section-wrap .search .join-search-wrap {
    position: absolute;
    right: 0;
    top: 0;
  }

  #employees-pg .search-section-wrap .search .feat-img,
  #employees-faqs-pg .search-section-wrap .search .feat-img,
  #employees-professionalServices-pg .search-section-wrap .search .feat-img,
  #employees-transportation-pg .search-section-wrap .search .feat-img,
  #employers-pg .search-section-wrap .search .feat-img,
  #employers-transportation-pg .search-section-wrap .search .feat-img,
  #employers-professionalServices-pg .search-section-wrap .search .feat-img,
  #employers-outputSolutions-pg .search-section-wrap .search .feat-img,
  #employers-staffingSolutions-pg .search-section-wrap .search .feat-img,
  #ourstory-pg .search-section-wrap .search .feat-img,
  #news-pg .search-section-wrap .search .feat-img,
  #locations-pg .search-section-wrap .search .feat-img,
  #eoe-pg .search-section-wrap .search .feat-img {
    float: none;
    margin-right: 321px;
    background-position-x: left;
    width: auto;
  }

  #employees-pg .search-section-wrap .search .feat-img h1,
  #employers-pg .search-section-wrap .search .feat-img h1,
  #ourstory-pg .search-section-wrap .search .feat-img h1,
  #news-pg .search-section-wrap .search .feat-img h1,
  #locations-pg .search-section-wrap .search .feat-img h1,
  #eoe-pg .search-section-wrap .search .feat-img h1 {
    left: 5px;
  }

}
@media only screen and (min-width: 60em) {
  .search-section-wrap, #container, header {
    padding: 0;
  }

  header nav {
    float: right;
    padding-top: 45px;
  }

  .search-section-wrap, #container {
    padding: 0;
  }

  .search-section-wrap .search {
    width: 960px;
  }

  #container, header {
    margin: 0 auto;
    width: 960px;
  }

  header {
    position: relative;
  }

  .cols-3 .col {
    height: 319px;
    padding: 20px;
  }
  .cols-3 .col.employee-portal p.more {
    position: absolute;
    bottom: 40px;
    left: 30px;
  }
  .cols-3 .col.apply-now p.more {
    position: absolute;
    bottom: 32px;
    left: 30px;
  }

  .join-tn-sidebar {
    height: 320px;
  }

  .refine-your-search {
    height: 130px;
    margin: 0 auto 40px;
    padding: 24px;
    position: relative;
    width: 960px;
  }
  .refine-your-search h2 {
    float: left;
    width: 84px;
  }
  .refine-your-search li {
    margin-left: 20px;
    width: 210px;
  }
  .refine-your-search li:first-child {
    margin-right: 0;
  }
  .refine-your-search li.job-type {
    width: 210px;
  }
  .refine-your-search li.job-category {
    width: 162px;
  }
  .refine-your-search li.selectboxit-option {
    margin-left: 0;
    width: 100%;
  }
  .refine-your-search form {
    height: 82px;
    padding-top: 12px;
  }
  .refine-your-search .job-type .selectboxit-container .selectboxit {
    width: 210px !important;
  }
  .refine-your-search .job-category .selectboxit-container .selectboxit {
    width: 162px !important;
  }

  .search-results {
    margin: 0 auto;
    width: 960px;
  }
  .search-results header {
    height: 30px;
    margin-bottom: 42px;
  }

  footer {
    clear: left;
    width: 980px;
    margin: 0 auto 40px;
    height: 120px;
  }
  footer:after {
    content: "";
    display: table;
    clear: both;
  }
  footer .connect, footer .main, footer .awards {
    float: left;
    height: 120px;
  }
  footer .main {
    width: 640px;
    border: 2px solid #fff;
    border-top: none;
    border-bottom: none;
    text-align: center;
    padding: 10px;
  }
  footer .main ol {
    width: 75%;
  }
  footer .connect, footer .awards {
    margin: auto;
  }
}
@media (max-width: 47.9375em) {
  #results_table th {
    display: none;
  }
  #results_table tr {
    border-top: 1px solid #c1cedb;
    display: block;
    float: left;
    padding: 10px;
    width: 100%;
  }
  #results_table tr:first-child {
    border-top: 0;
    padding: 0;
  }
  #results_table td {
    border-top: 0;
    display: block;
    float: left;
    padding: 0;
  }
  #results_table td.job-title, #results_table td.job-description {
    width: 100%;
  }
  #results_table td.job-location {
    width: auto;
  }
  #results_table td.job-date {
    float: right;
    width: auto;
  }
}

/*# sourceMappingURL=screen.css.map */
